body, html{
    font-family:Verdana, Arial, sans-serif;
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
}
h2{
    font-weight:bold;
    font-size:20px;
}

nav li{
    display:inline-block;
    text-align:center;
    background-color:grey;
    width:140px;
    padding: 3px 10px 3px 10px;
    
}

nav a{
    text-decoration:none;
    color:black;
    font-size:11px;
}


#airDeJeu{
    height:450px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    border-left:5px grey dotted;
    border-right:5px grey dotted;
    border-top:5px black solid;
    border-bottom:5px black solid;
    position:relative;
}
.raquette, .balle{
    position:absolute;
}

.score{
    font-size:18px;
    text-align: center;
    margin:15px;
}
.score > div{
    display:inline-block;
    width:30px;
}

#messageFin{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    width:250px;
    padding:10px 15px 10px 15px;
    border: solid 2px black;
    background-color: white;
    text-align: center;
}
.yellow{
    background-color: yellow;
}